@charset "UTF-8";

.center {
	position: relative;
	display:table;
	margin: 0 auto;
}
 

@media only screen and (min-width: 481px) {
	/* 	PCのみ */
	.center {
		width:60%;
	}
	
	#loginpic{
		float: left;
		width:50%;
	}

	.cp_iptxt{
		margin-top:100px;
	}
	
	#form{
		float: left;
		width:40%;
	}

	#loginpic img{
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {	
	/* 	スマホのみ */
	.center {
	 text-align:center;
	}
	
	.cp_iptxt{
		margin-top:10px;
	}
	
	#loginpic img{
		width:40%;
	}

	#form{
		margin: 0 auto;
		width:80%;
	}
}

.cp_iptxt {
	position: relative;
    text-align: center;
	width: 100%;
}
.cp_iptxt input[type=text], input[type=password], textarea {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.cp_iptxt input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border-color: #da3c41;
}

button#submit {
    font-size: 1.2em;
    font-weight: bold;
    padding: 6px 30px;
    color: #fff;
    border-style: none;
}
