@charset "UTF-8";

	.questions{
		display: table; 
		margin: 5px auto;
		padding: 10px 0 10px 0;
		border: solid black 1px;
		border-radius: 20px;
	}
	table.questions_inner, .date{
		width: 90%;
		margin: 5px 20px 5px 20px;
	}
	.name{
		color: green;
		width: 80%;
		margin: 5px 20px 5px 20px;
		border-bottom: solid green 1px;
	}
	td.comment{
		width: calc( 100% - 50px );
	}
	td.fav{
		margin-left: 20px;
		width:40px;
	}
	.fav a {
		font-size: 20px;
		color: orange;
	}
	
	.date{
		color: green;
		font-size: 10px
	}

	#paging{
		display: table; 
		margin: 0 auto;
	}

@media only screen and (min-width: 481px) {
	/* PCのみ */
	table.outer, .questions,	#paging{
		width: 70%;
	}
	
	#mainpic{
		width: 15%;
	}
}

@media only screen and (max-width: 480px) {	
	/* 	スマホのみ */
	table.outer, .questions,	#paging{
		width: 100%;
	}
	
	#mainpic{
		width: 40%;
	}
}

.simple_square_btn8 {
	display: block;
	position: relative;
	width: 90%;
	padding: 0.1em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
        border-radius: 10px;
	border:1px solid #1B1B1B;
	-webkit-backface-visibility: hidden; 
	-moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.simple_square_btn8:hover {
	 cursor: pointer;
	 text-decoration: none;
	-webkit-animation: simple_square_btn8 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: simple_square_btn8 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: simple_square_btn8 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes simple_square_btn8{
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@-moz-keyframes simple_square_btn8{
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@keyframes simple_square_btn8 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

.btn-border {
  display: inline-block;
  max-width: 100px;
  text-align: left;
  border: 2px solid #9ec34b;
  font-size: 11px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 4px;
  transition: .4s;
}

.btn-border:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}

.cp_link {
	text-decoration: none;
	font-size: 15px;
	display: inline-block;
	padding: 0.3em;
	transition: .3s;
	transform: scale(1);
	color: green;
}

.cp_link:hover {
	transform: scale(1.05);
}